/*Nav Styles*/

ct-nav{
    display: flex;
    justify-content: space-between;
    background: lightpink;
}


.container{
    background-color: lightpink;
}




.header-text{
    display: flex; 
    justify-content: center;
    padding-top: 20%;
    left: 20rem; 
    top: 10rem;
    color: white;
    font-size: 40px;
}



#kris-image, #rob-image, #jenners-image{
    margin-bottom: 10vh;
    max-width: 25%;
    max-height: 25%;
}
#logo{
    width:300px;
    height:150px;
    text-align:center;
    margin-left:40%;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    border: 1px solid black;
    background-color: white;
    text-align: center;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: .5vw;
    color: black; 
    
}
    



#kommunity{
    text-align: center;
}
.hero-section{
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(30, 115, 172, 0.7), rgba(142, 57, 153, 0.6), url(../images/drone-profile.jpg));
    background-size: cover; 
    background-position: 35% 50%;
    -webkit-clip-path: polygon(0 0,100% 0,100% 80vh, 0 100%);
    clip-path: polygon(0 0,100% 0,100% 80vh, 0 100%);
}


/*Target Main Logo Image*/
.ct-nav img{
    width: 50%;
    max-width: 100%;
}




ul#horizontal-list a:nth-lsat-child(1){
    border: 2px solid black;
    border-radius: 11px;
    margin-right: o.2vw;
}

/*End of Nav Styles*/

/*Start of Hero/Header Section*/
#header-text{
    padding: 2vw;
    text-align: center;
}

.header-image{
    width: 50%;
    max-width: 100%;
    text-align:center;
}
/*End of Hero/Header Section*/


/*Start of Middle Section */
#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding: 1.5vw;
}
/*End of Middle Section */

/*Start of Feature Styles Section  */


#features-section{
    margin: 8vw; 
}
/*End of Feature Styles Section*/

/*Community Styles Section*/
#Drone-image{
    width: 50%;
    max-width: 75%;
    margin-left: 3vw;
}
/*End of Community Styles Section*/


/*Start of Footer Section*/
.footer-text-flex{
    display: flex;
    flex-direction: column; 
    margin-top: 3vw;
}

#footer-logo{
    width: 100%;
    max-width: 100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
}

/*Profile Styles*/



